<html>
    {% load static %}
    <head>
    <title>WebApp</title>
    <script src="{% static 'JQuery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>
    <style>
        body{
            background-color: aliceblue;
        }
        div.top-bar{
            height: 100px;
            background-color: cadetblue;
            border-bottom: 1px solid black;
            position: relative;
        }
        .center-text{
            text-align: center;
        }
        .main-container{
            min-width: 500px;
            width: 50%;
            margin-top: 200px;
            background-color: cadetblue;
            border: 1px solid black;
            margin-left: 25%;
        }
        .bot-space{
            margin-bottom: 100px;
        }
        .container{
            position: relative;
            width: 70%;
            margin: 0 auto;
            margin-bottom: 100px;
        }
    </style>
    <body>
        <div class="top-bar">
        
        </div>
        <div class="main-container">
            <h1 class="center-text">Rock Paper Scissors</h1>
            <hr class="bot-space">
            <div class="container">
                <center>
                <table>
                    <tbody>
                        <tr>
                            <td>Reset model</td>
                            <td>
                                <button type="button" id="reset_btn">Reset</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Train model</td>
                            <td>
                                <button type="button" id="train_btn">Train</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Who goes first?</td>
                            <td>
                                <select id="turn_order">
                                    <option value="human">Human</option>
                                    <option value="computer">Computer</option>
                                    <option value="both">Both</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Human Choice</td>
                            <td>
                                <select id="human_choice">
                                    <option value="0">Rock</option>
                                    <option value="1">Paper</option>
                                    <option value="2">Scissors</option>
                                </select>
                            </td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" id="play_game_btn">Go</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Computer Choice</td>
                            <td>
                                <input id="computer_choice" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>Result</td>
                            <td>
                                <h3 id="result"></h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                    <h3 id="dataset_title">Dataset</h3>
                    <div hidden style="max-height: 500px; overflow-y: scroll;" id="data_div">
                        
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Computer Choice
                                    </th>
                                    <th>
                                        Player Choice
                                    </th>
                                    <th>
                                        Result
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="data_table">

                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
        </div>
    </body>
    <script src="{% static 'js/ajax.js' %}">
        
    </script>
    <script>
        let human_choice = document.getElementById('human_choice');
        let turn_order = document.getElementById('turn_order');
        let data_provider = new Data_Provider('/MachineLearning/RPS');
        document.getElementById('play_game_btn').onclick = function(){
            let args = {
                'action':'play',
                'human_c':human_choice.value,
                'turn_order':turn_order.value,
            }
            data_provider.ajax_request(args, processPlayResponse)
        }
        document.getElementById('reset_btn').onclick = function(){
            let args = {
                'action':'reset',
            }
            data_provider.ajax_request(args, print_dataset)
        }
        document.getElementById('train_btn').onclick = function(){
            let args = {
                'action':'train',
            }
            data_provider.ajax_request(args, print_dataset)
        }
        
        function processPlayResponse(data){
            console.log(data);
            let computer_choice = undefined;
            switch(data.prediction){
                case 0:
                    computer_choice = "Rock";
                    break;
                case 1:
                    computer_choice = "Paper";
                    break;
                case 2:
                    computer_choice = "Scissors";
                    break;
                default:
                    computer_choice = "Error";
                    break;
            }
            document.getElementById("computer_choice").value = computer_choice;
            let result = undefined;
            switch(data.result){
                case 0:
                    result = "Even";
                    break;
                case 1:
                    result = "Computer Wins";
                    break;
                case 2:
                    result = "Player Wins";
                    break;
                default:
                    result = "Error";
                    break;
            }
            document.getElementById("result").textContent = result;
            print_dataset(data);
        }
        
        function print_dataset(data){
            let data_table = document.getElementById("data_table");
            data_table.innerHTML = "";
            for(let i = 0; i < data.data.length; i++){
                let row = document.createElement("tr");
                let cc = document.createElement("td");
                let pc = document.createElement("td");
                let r = document.createElement("td");
                cc.textContent = data.data[i][0];
                pc.textContent = data.data[i][1];
                r.textContent = data.data[i][2];
                row.appendChild(cc);
                row.appendChild(pc);
                row.appendChild(r);
                data_table.appendChild(row);
            }
            document.getElementById('dataset_title').textContent = "Dataset ("+data.data.length+")";
            document.getElementById('data_div').hidden = false;
        }
    </script>
</html>