<html>
    {% load static %}
    <head>
    <title>ML Tick Tack Toe</title>
    <script src="{% static 'JQuery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>
    <style>
        body{
            background-color: aliceblue;
        }
        div.top-bar{
            height: 100px;
            background-color: cadetblue;
            border-bottom: 1px solid black;
            position: relative;
        }
        .center-text{
            text-align: center;
        }
        .main-container{
            min-width: 500px;
            width: 50%;
            margin-top: 200px;
            background-color: cadetblue;
            border: 1px solid black;
            margin-left: 25%;
        }
        .bot-space{
            margin-bottom: 100px;
        }
        .container{
            position: relative;
            width: 70%;
            margin: 0 auto;
            margin-bottom: 100px;
        }
        .ttt-btn{
            width: 50px;
            height: 50px;
            margin: 50px;
        }
    </style>
    <body>
        <div class="top-bar">
        
        </div>
        <div class="main-container">
            <h1 class="center-text">Tic Tac Toe</h1>
            <hr class="bot-space">
            <div class="container">
                <center>
                <table>
                    <tbody>
                        <tr>
                            <td>Reset model</td>
                            <td>
                                <button type="button" id="reset_btn">Reset</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Train model</td>
                            <td>
                                <button type="button" id="train_btn">Train</button>
                            </td>
                        </tr>
                        <tr>
                            <td>New Game</td>
                            <td>
                                <button type="button" id="play_game_btn" class="btn btn-secondary">New Game</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Computer Choice</td>
                            <td>
                                <input id="computer_choice" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>Result</td>
                            <td>
                                <h3 id="result"></h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                    <div hidden id="game_div">
                        <hr>
                        <h3>Game</h3>
                        <center>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td><button id="13" class="ttt-btn"></button></td>
                                    <td><button id="23" class="ttt-btn"></button></td>
                                    <td><button id="33" class="ttt-btn"></button></td>
                                </tr>
                                <tr>
                                    <td><button id="12" class="ttt-btn"></button></td>
                                    <td><button id="22" class="ttt-btn"></button></td>
                                    <td><button id="32" class="ttt-btn"></button></td>
                                </tr>
                                <tr>
                                    <td><button id="11" class="ttt-btn"></button></td>
                                    <td><button id="21" class="ttt-btn"></button></td>
                                    <td><button id="31" class="ttt-btn"></button></td>
                                </tr>
                            </tbody>
                        </table>
                        </center>
                    </div>
                <hr>
                    <h3 id="dataset_title">Dataset</h3>
                    <div hidden style="max-height: 500px; overflow-y: scroll;" id="data_div">
                        
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Computer Choice
                                    </th>
                                    <th>
                                        Player Choice
                                    </th>
                                    <th>
                                        Result
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="data_table">

                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
        </div>
    </body>
    <script src="{% static 'js/ajax.js' %}">
        
    </script>
    <script>
        let human_choice = document.getElementById('human_choice');
        let turn_order = document.getElementById('turn_order');
        let data_provider = new Data_Provider('/MachineLearning/TTT');
        let game_history = [];
        document.getElementById('play_game_btn').onclick = function(){
            game_history = [];
            set_available_buttons([]);
            document.getElementById('game_div').hidden = false;
        }
        document.getElementById('reset_btn').onclick = function(){
            let args = {
                'action':'reset',
            }
            data_provider.ajax_request(args, print_dataset)
        }
        document.getElementById('train_btn').onclick = function(){
            let args = {
                'action':'train',
            }
            data_provider.ajax_request(args, print_dataset)
        }
        
        function set_available_buttons(history){
            let btns = document.getElementsByClassName('ttt-btn');
            for(let x = 1; x <= 3; x++){
                for(let y = 1; y <= 3; y++){
                    let pos = x.toString() + y.toString();
                    let btn = document.getElementById(pos);
                    if(history.includes(pos)){
                        btn.disabled = true;
                    }
                    else{
                        btn.onclick = function(){
                            history.push(btn.id)
                            data_provider.ajax_request({
                                'action':'play',
                                'history':history}, processPlayResponse)
                        }
                    }
                }
            }
        }
        
        function processPlayResponse(data){
            console.log(data);
            game_history = data.history;
            set_available_buttons(game_history);
        }
        
        
        function print_dataset(data){
            let data_table = document.getElementById("data_table");
            data_table.innerHTML = "";
            for(let i = 0; i < data.data.length; i++){
                let row = document.createElement("tr");
                let cc = document.createElement("td");
                let pc = document.createElement("td");
                let r = document.createElement("td");
                cc.textContent = data.data[i][0];
                pc.textContent = data.data[i][1];
                r.textContent = data.data[i][2];
                row.appendChild(cc);
                row.appendChild(pc);
                row.appendChild(r);
                data_table.appendChild(row);
            }
            document.getElementById('dataset_title').textContent = "Dataset ("+data.data.length+")";
            document.getElementById('data_div').hidden = false;
        }
    </script>
</html>